body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 120%;
    background: #222;
    background-image: url(https://source.unsplash.com/1600x900/?landscape);
}

.card
{
    /* background: black; */
    background-image: linear-gradient(rgb(51, 51, 51), black);
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    opacity: 85%;
    transition: 2s ease-in-out;
}

.search
{
    display: flex;
    align-items: center;
    justify-content: center;
}

input
{
    border: none;
    padding: 0.4em 1em;
    width: calc(100% - 50px);
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    outline: none;
    font-family: inherit;
    font-size: 105%;
    transition: 0.2s ease-in-out;
}

input:focus
{
    background: #7c7c7c6b;
}

button
{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    outline: none;
}

button:hover
{
    background: #7c7c7c6b;
}

.city
{
    letter-spacing: 2px;
}

h1.temp
{
    margin: 0;
}

.feels
{
    font-size: 100%;
    font-style: italic;
    margin-bottom: 0.5em;
}

.flex
{
    display: flex;
    align-items: center;
    justify-content: left;
}

.description
{
    text-transform: capitalize;
    margin-left: 5px;
}